.MainProduct{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainSingleProduct{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.productPrice .glow-on-hover{
    margin-top: 68px;
}
.productImgage img{
    width: 150px;
    height: 150px;
}
.productColor{
    width: 176px;
    height: 29px;
    border-radius: 3px;
}
.productPrice p{
    font-size: 22px;
    color: black;
    font-weight: 600;
}
.productDescription span{
    display: block;
    margin: 25px 0 ;
}
.productDescription p{
font-size: 22px;
    color: black;

}
.Product-img button {
    max-width        : 160px;
    width            : 100%;
    background-color : #343A40;
    border-radius    : 4px;
    color            : #fff;
    cursor           : pointer;
    padding: 16px 19px;
    outline          : none;
    border           : none;
    margin-left      : 20px;
}

.Product-img button:hover {
    background-image : linear-gradient(
            to right,
            #E7484F,
            #F68B1D,
            #FCED00,
            #009E4F,
            #00AAC3,
            #732982
    );
    animation        : slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position : 20vw;
    }
}

